@import "./utils/variables";
@import "./utils/mixins";

@import "./components/buttons";

@import "./layout/nav";
@import "./layout/container";
@import "./layout/footer";

@import "./libs/responsive";

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");

// ************POUR CHANGER LE BOUTON DE L INDEX VOIR COMPONENTS/BUTTONS**************************
// ************POUR CHANGER LE BOUTON DE LA PALETTE DE GOUT VOIR COMPONENTS/BUTTONS**************************
// ************POUR CHANGER LE BOUTON DE A LA FRANCAISE VOIR COMPONENTS/BUTTONS**************************
// ************POUR CHANGER LE BOUTON DE LA NOTE ENCHANTEE VOIR COMPONENTS/BUTTONS**************************
// ************POUR CHANGER LE BOUTON DELICE DES SENS VOIR COMPONENTS/BUTTONS**************************
//*****************MENU NAV VOIR LAYOUT/NAV*******************
// ********container Paris belleville et icone voir LAYOUT/CONTAINER**********
body {
  padding: 0;
  margin: 0;
}
//**********************************COEUR**************************************************//
.checkbox{
  cursor: pointer;
}
.fas{
  font-size: 30px;
  position: absolute;
  opacity: 0;
}
.checkbox:hover .fas{
  color: blueviolet;
  transition: 2.5s ease-in-out;
  opacity: 1;

}
.checkbox_input{
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox_input:checked +  .fas{
  color: blueviolet;
  opacity: 1;
  animation: coeur 3.5s;
  transition-duration: 5.5s ease-in-out forwards;
  -webkit-transition-duration: 5.5s ease-in-out forwards;
  -moz-transition-duration: 5.5s ease-in-out forwards;
  -ms-transition-duration: 5.5s ease-in-out forwards;
  -o-transition-duration: 5.5s ease-in-out forwards;
  -webkit-animation: coeur 3.5s;
}
@keyframes coeur {
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
.far{
  font-size: 30px;
  color: blueviolet;
  position: relative;
}
//**************************************************************//
#loader-wrapper {
  @include loadSpin;
}
.BarreRecherche {
  font-weight: 600;
}
p,
span {
  font-family: "Roboto";
}
h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
span {
  text-overflow: ellipsis;
}
// Animation coeur

@media #{$medium-up} {
  .container--block {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }
  .block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #entreess {
    height: 930px;
  }
  .fonctionalityPalette {
    height: 990px;
  }
  .entrees {
    text-align: center;
    width: 45%;
    height: 400px;
  }
  .entrees:nth-child(2) {
    float: right;
    width: 45%;
    margin-top: -400px;
  }
  .entrees:nth-child(3) {
    margin-top: 20px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu--block input[type="checkbox"] {
    width: 45%;
  }
  .block {
    width: 100%;
  }
  .entrees:nth-child(3) {
    margin-top: 80px;
  }
  //*****************DECALAGE DES DESSERT VERS LE BAS LA NOTE ENCHANTEE A CAUSE 4 BLOC ENTREE**************
  .fonctionality--block--note {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    margin-top: 50px;
  }
}
