@import "./utils/variables";
@import "./utils/mixins";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/footer";

@import "./libs/responsive";

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");

// ************POUR CHANGER LE BOUTON DE L INDEX VOIR COMPONENTS/BUTTONS**************************
// ************POUR CHANGER LE BOUTON DE LA PALETTE DE GOUT VOIR COMPONENTS/BUTTONS**************************
// ************POUR CHANGER LE BOUTON DE A LA FRANCAISE VOIR COMPONENTS/BUTTONS**************************
// ************POUR CHANGER LE BOUTON DE LA NOTE ENCHANTEE VOIR COMPONENTS/BUTTONS**************************
// ************POUR CHANGER LE BOUTON DELICE DES SENS VOIR COMPONENTS/BUTTONS**************************
//*****************MENU NAV VOIR LAYOUT/NAV*******************
// ********container Paris belleville et icone voir LAYOUT/CONTAINER**********
body {
  padding: 0 auto;
  margin: 0 auto;
}
#loader-wrapper {
  @include loadSpin;
}
// #loader-wrapper 
// {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 15;
//     background-color:#f3f3f3;
//     pointer-events: none;
//     opacity: 1;
//     animation: displayfade 500ms 1s forwards;
//     -webkit-animation: displayfade 500ms 1s forwards;
// }

// @keyframes displayfade
// {
//     to 
//     {
//         opacity: 0;
//         z-index:-1;
//     }
// }

// #loader 
// {
// 	animation-delay: -0.5s; 
	 
//     display: block;
//     position: relative;
//     left: 50%;
//     top: 50%;
//     width:200px;
//     height:200px;
//     margin:-100px 0 0 -100px;
//     border-radius: 50%;
//     border: 3px solid transparent;
//     border-top-color: #9356DC;
    
//     -webkit-animation: spinner 0.5s linear 18;
    
//     animation: spinner 0.5s linear 18;
// }
 
// #loader:before 
// {
//     content: "";
//     position: absolute;
//     top: 5px;
//     left: 5px;
//     right: 5px;
//     bottom: 5px;
//     border-radius: 50%;
//     border: 3px solid transparent;
//     border-top-color: #FF79DA;
     
// 	-webkit-animation: spinner 1s linear 9;
    
// 	animation: spinner 1s linear 9;
// }
 
// #loader:after 
// {
//     content: "";
//     position: absolute;
//     top: 15px;
//     left: 15px;
//     right: 15px;
//     bottom: 15px;
//     border-radius: 50%;
//     border: 3px solid transparent;
//     border-top-color: #99E2D0;
    
// 	-webkit-animation: spinner 1.5s linear 6;
        
// 	animation: spinner 1.5s linear 6;
    
// }
 
// @-webkit-keyframes spinner 
// {
//     0%   
//     {
//         -webkit-transform: rotate(0deg); 
//         -ms-transform: rotate(0deg);
//         transform: rotate(0deg);  
//         z-index:15; 
//     }
    
//     100% 
//     {
//         -webkit-transform: rotate(360deg);  
//         -ms-transform: rotate(360deg);  
//         transform: rotate(360deg);  
//         z-index:15;       
//     }
// }

// @keyframes spinner 
// {
//     0%   
//     {
//         -webkit-transform: rotate(0deg);  
//         -ms-transform: rotate(0deg);  
//         transform: rotate(0deg);  
//         z-index:15; 
//     }
    
//     100% 
//     {
//         -webkit-transform: rotate(360deg); 
//         -ms-transform: rotate(360deg);  
//         transform: rotate(360deg);  
//         z-index:15;         
//     }
// }

// .displayfade
// {
// 	animation: displayfade 1.95s;
// 	opacity: 0;
// 	z-index:-1;
// 	-webkit-animation: displayfade 1.95s;
// }
h3 {
  text-overflow: ellipsis;
}
span {
  text-overflow: ellipsis;
}
// Animation coeur
.coeur-check {
  @include coeur;
}
@media #{$medium-up} {
  .container--block {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }
  .block {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #entreess {
    height: 930px;
  }
  .fonctionalityPalette {
    height: 990px;
  }
  .entrees {
    text-align: center;
    width: 45%;
    height: 400px;
  }
  .entrees:nth-child(2) {
    float: right;
    width: 45%;
    margin-top: -400px;
  }
  .entrees:nth-child(3) {
    margin-top: 20px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu--block input[type="checkbox"] {
    width: 45%;
  }
  .block {
    width: 100%;
  }
  .entrees:nth-child(3) {
    margin-top: 80px;
  }
  //*****************DECALAGE DES DESSERT VERS LE BAS LA NOTE ENCHANTEE A CAUSE 4 BLOC ENTREE**************
  .fonctionality--block--note {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}