
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white : #fff;
$color-gray: #e7e4e4;
$color-black: rgb(0, 0, 0);
$color-footer: rgba(0, 0, 0, 0.774);


// $background-font: (
//     border-radius: 25px 25px 0 0,
//     margin-top: -20px,
//     // h2{
//     //     font-family: "Shrikland";
//     //     font-size: 20px;
//     //     margin-left: 20px;
//     //     font-weight: 900;
//     // }
//     // span{
//     //    padding-top: 10px;
//     // }
// )



